@import "colors";
.header{
  background-color: #ff6600;
  padding:15px;
  nav{
    .header__nav{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        font-size: 20px;
        color: $white;
        a{
          padding: 5px;
          vertical-align: sub;
          text-decoration: none;
          color: $white;
        }
        .logo {
          font-size: 20px;
          border: 1.3px solid $white;
          padding: 5px;
        }
      }
    }
  }
}
